In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [11]:
import

SyntaxError: invalid syntax (750066293.py, line 1)

In [49]:

# Example: assuming your datasets are df1, df2, ..., df14
datasets = [circuits_df, constructor_results_df, constructor_standings_df, constructors_df, driver_standings_df, drivers_df, lap_times_df, pit_stops_df, qualifying_df, races_df, results_df, seasons_df, sprint_results_df, status_df]

# Loop through each dataset and clean column names
datasets = [clean_column_names(df) for df in datasets]
#clean_column_names(dataframe)

ModuleNotFoundError: No module named 'functions'

In [2]:
circuits_df = pd.read_csv(r'/Users/astridrestupersonal/Desktop/Ironhack Project Week 5/Formula 1 Datasets/circuits.csv')

In [3]:
circuits_df.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [4]:
circuits_df.isnull().sum()
# no nulls in the data

circuitId     0
circuitRef    0
name          0
location      0
country       0
lat           0
lng           0
alt           0
url           0
dtype: int64

In [5]:
constructor_results_df = pd.read_csv(r'/Users/astridrestupersonal/Desktop/Ironhack Project Week 5/Formula 1 Datasets/constructor_results.csv')

In [6]:
constructor_results_df.head()

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0     \N
1                     2      18              2     8.0     \N
2                     3      18              3     9.0     \N
3                     4      18              4     5.0     \N
4                     5      18              5     2.0     \N

In [7]:
constructor_results_df.isnull().sum()

constructorResultsId    0
raceId                  0
constructorId           0
points                  0
status                  0
dtype: int64

In [8]:
constructor_standings_df = pd.read_csv(r'/Users/astridrestupersonal/Desktop/Ironhack Project Week 5/Formula 1 Datasets/constructor_standings.csv')

In [9]:
constructor_standings_df.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

In [10]:
constructor_standings_df.isnull().sum()

constructorStandingsId    0
raceId                    0
constructorId             0
points                    0
position                  0
positionText              0
wins                      0
dtype: int64

In [11]:
constructors_df = pd.read_csv(r'/Users/astridrestupersonal/Desktop/Ironhack Project Week 5/Formula 1 Datasets/constructors.csv')

In [12]:
constructors_df.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [13]:
constructors_df.isnull().sum()

constructorId     0
constructorRef    0
name              0
nationality       0
url               0
dtype: int64

In [14]:
driver_standings_df = pd.read_csv(r'/Users/astridrestupersonal/Desktop/Ironhack Project Week 5/Formula 1 Datasets/driver_standings.csv')

In [15]:
driver_standings_df.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [16]:
driver_standings_df.isnull().sum()

driverStandingsId    0
raceId               0
driverId             0
points               0
position             0
positionText         0
wins                 0
dtype: int64

In [17]:
drivers_df = pd.read_csv(r'/Users/astridrestupersonal/Desktop/Ironhack Project Week 5/Formula 1 Datasets/drivers.csv')

In [18]:
drivers_df.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [19]:
drivers_df.isnull().sum()

driverId       0
driverRef      0
number         0
code           0
forename       0
surname        0
dob            0
nationality    0
url            0
dtype: int64

In [20]:
lap_times_df = pd.read_csv(r'/Users/astridrestupersonal/Desktop/Ironhack Project Week 5/Formula 1 Datasets/lap_times.csv')

In [21]:
lap_times_df.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [22]:
lap_times_df.isnull().sum()

raceId          0
driverId        0
lap             0
position        0
time            0
milliseconds    0
dtype: int64

In [23]:
pit_stops_df = pd.read_csv(r'/Users/astridrestupersonal/Desktop/Ironhack Project Week 5/Formula 1 Datasets/pit_stops.csv')

In [24]:
pit_stops_df.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [25]:
pit_stops_df.isnull().sum()

raceId          0
driverId        0
stop            0
lap             0
time            0
duration        0
milliseconds    0
dtype: int64

In [26]:
qualifying_df = pd.read_csv(r'/Users/astridrestupersonal/Desktop/Ironhack Project Week 5/Formula 1 Datasets/qualifying.csv')

In [27]:
qualifying_df.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [28]:
qualifying_df.isnull().sum()

qualifyId         0
raceId            0
driverId          0
constructorId     0
number            0
position          0
q1                0
q2               22
q3               46
dtype: int64

In [29]:
races_df = pd.read_csv(r'/Users/astridrestupersonal/Desktop/Ironhack Project Week 5/Formula 1 Datasets/races.csv')

In [30]:
races_df.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [31]:
races_df.isnull().sum()

raceId         0
year           0
round          0
circuitId      0
name           0
date           0
time           0
url            0
fp1_date       0
fp1_time       0
fp2_date       0
fp2_time       0
fp3_date       0
fp3_time       0
quali_date     0
quali_time     0
sprint_date    0
sprint_time    0
dtype: int64

In [32]:
results_df = pd.read_csv(r'/Users/astridrestupersonal/Desktop/Ironhack Project Week 5/Formula 1 Datasets/results.csv')

In [33]:
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [34]:
results_df.isnull().sum()

resultId           0
raceId             0
driverId           0
constructorId      0
number             0
grid               0
position           0
positionText       0
positionOrder      0
points             0
laps               0
time               0
milliseconds       0
fastestLap         0
rank               0
fastestLapTime     0
fastestLapSpeed    0
statusId           0
dtype: int64

In [35]:
seasons_df = pd.read_csv(r'/Users/astridrestupersonal/Desktop/Ironhack Project Week 5/Formula 1 Datasets/seasons.csv')

In [36]:
seasons_df.head()

   year                                                url
0  2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1  2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2  2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3  2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4  2005  http://en.wikipedia.org/wiki/2005_Formula_One_...

In [37]:
seasons_df.isnull().sum()

year    0
url     0
dtype: int64

In [38]:
sprint_results_df = pd.read_csv(r'/Users/astridrestupersonal/Desktop/Ironhack Project Week 5/Formula 1 Datasets/sprint_results.csv')

In [39]:
sprint_results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1

In [40]:
sprint_results_df.isnull().sum()

resultId          0
raceId            0
driverId          0
constructorId     0
number            0
grid              0
position          0
positionText      0
positionOrder     0
points            0
laps              0
time              0
milliseconds      0
fastestLap        0
fastestLapTime    0
statusId          0
dtype: int64

In [41]:
status_df = pd.read_csv(r'/Users/astridrestupersonal/Desktop/Ironhack Project Week 5/Formula 1 Datasets/status.csv')

In [42]:
status_df

     statusId          status
0           1        Finished
1           2    Disqualified
2           3        Accident
3           4       Collision
4           5          Engine
..        ...             ...
134       137          Damage
135       138          Debris
136       139         Illness
137       140       Undertray
138       141  Cooling system

[139 rows x 2 columns]

In [43]:
status_df.isnull().sum()

statusId    0
status      0
dtype: int64

In [44]:
status_df['status'].unique()

array(['Finished', 'Disqualified', 'Accident', 'Collision', 'Engine',
       'Gearbox', 'Transmission', 'Clutch', 'Hydraulics', 'Electrical',
       '+1 Lap', '+2 Laps', '+3 Laps', '+4 Laps', '+5 Laps', '+6 Laps',
       '+7 Laps', '+8 Laps', '+9 Laps', 'Spun off', 'Radiator',
       'Suspension', 'Brakes', 'Differential', 'Overheating',
       'Mechanical', 'Tyre', 'Driver Seat', 'Puncture', 'Driveshaft',
       'Retired', 'Fuel pressure', 'Front wing', 'Water pressure',
       'Refuelling', 'Wheel', 'Throttle', 'Steering', 'Technical',
       'Electronics', 'Broken wing', 'Heat shield fire', 'Exhaust',
       'Oil leak', '+11 Laps', 'Wheel rim', 'Water leak', 'Fuel pump',
       'Track rod', '+17 Laps', 'Oil pressure', '+42 Laps', '+13 Laps',
       'Withdrew', '+12 Laps', 'Engine fire', 'Engine misfire',
       '+26 Laps', 'Tyre puncture', 'Out of fuel', 'Wheel nut',
       'Not classified', 'Pneumatics', 'Handling', 'Rear wing', 'Fire',
       'Wheel bearing', 'Physical', 'Fuel system', 'Oil line', 'Fuel rig',
       'Launch control', 'Injured', 'Fuel', 'Power loss', 'Vibrations',
       '107% Rule', 'Safety', 'Drivetrain', 'Ignition', 'Did not qualify',
       'Injury', 'Chassis', 'Battery', 'Stalled', 'Halfshaft',
       'Crankshaft', '+10 Laps', 'Safety concerns', 'Not restarted',
       'Alternator', 'Underweight', 'Safety belt', 'Oil pump',
       'Fuel leak', 'Excluded', 'Did not prequalify', 'Injection',
       'Distributor', 'Driver unwell', 'Turbo', 'CV joint', 'Water pump',
       'Fatal accident', 'Spark plugs', 'Fuel pipe', 'Eye injury',
       'Oil pipe', 'Axle', 'Water pipe', '+14 Laps', '+15 Laps',
       '+25 Laps', '+18 Laps', '+22 Laps', '+16 Laps', '+24 Laps',
       '+29 Laps', '+23 Laps', '+21 Laps', 'Magneto', '+44 Laps',
       '+30 Laps', '+19 Laps', '+46 Laps', 'Supercharger', '+20 Laps',
       'Collision damage', 'Power Unit', 'ERS', '+49 Laps', '+38 Laps',
       'Brake duct', 'Seat', 'Damage', 'Debris', 'Illness', 'Undertray',
       'Cooling system'], dtype=object)

In [45]:
Collision_damage_result = status_df.loc[status_df['status'] == 'Collision damage', 'statusId']

In [46]:
Collision_damage_result

127    130
Name: statusId, dtype: int64

In [47]:
damage_result = status_df.loc[status_df['status'] == 'damage', 'statusId']

In [48]:
damage_result

Series([], Name: statusId, dtype: int64)

In [52]:
# 1: Qualifying Position/Start of Race Position vs. Final Position

correlation_matrix = df_numerical.corr()

# Setting up the matplotlib figure with an appropriate size
plt.figure(figsize=(18, 15))

# Drawing the heatmap for the numerical columns
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm")

plt.title("Correlation Heatmap for Selected Numerical Variables")
plt.show()

NameError: name 'df_numerical' is not defined

In [ ]:
merged_df = pd.merge(qualifying_df, results_df, on =['country','year'])